body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
}

.title {
    font-size: 60px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.button-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
}
.choices-container {
    display:flex;
    justify-content: space-between;
    height: 50%;
}

.reset-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-button {
    width: 50%;
    margin-top: 10px;
    background-color: red;
    color: whitesmoke;
    border: none;
    transition: all 0.15s;
}

.reset-button:hover {
    background-color: rgb(77, 0, 0);
    cursor: pointer;
}

.option-button {
    width: 40%;
    background-color: rgb(209, 162, 60);
    border: none;
    box-shadow: inset 0 0 10px rgb(0, 0, 0);
    border-radius: 10px;
    transition: all 0.3s;
}


.option-button:hover {
    background-color: rgb(255, 199, 77);
    box-shadow: inset 0 0 10px rgb(255, 255, 255);
    width: 42%;
    cursor: pointer;
    color: white;
}